html {
  background-color: black;
  object-position: center;
  padding: 1% 5%;
  min-width: 550px;
}
body {
  object-position: center;
  text-align: center;
  font-family: arial;
  background-color: rgb(245, 238, 238); /* color to change background */
  border-width: 3px;
  border-color: blue;
  padding: 1.5em 1.5em;
  z-index: 1;
}
button {
  /*border: 2px solid rgb(70, 235, 235);*/
  background-color: red;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 1.5em;
}
div.container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding: 5em 1.5em;
  min-width: 350px;
  font-size: large;
}
